# Build results
bin/
obj/
[Bb]uild/
[Bb]uilds/

# Rider project files
.idea/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.swp

# Visual Studio Code
.vscode/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Test Results
TestResults/
*.log

# Npm / Yarn / Node
node_modules/

# Packages
*.nupkg
*.snupkg
packages/
.nuget/

# DotCover
.idea/.dotCover

# OS generated
.DS_Store
Thumbs.db

# Secrets (ajuste conforme necessário)
*.env
*.secret
secrets.json
